pandas
numpy
tensorflow
dvc
notebook
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
transformers==4.30.0
datasets
sentencepiece
fsspec==2023.6.0
protobuf==3.20.3
rouge_score
evaluate
streamlit
-e .